#view-splash
{
  /* structure */
  height:500px;
  width:100%;
  position: relative;
  /* style */
  background: #333;
  z-index: 800;
}

#view-nav
{
  /* structure */
  height: 60px;
  width: 100%;
  z-index: 850;
  /* style */
  background: #00853E;
}

#view-menu
{
  /* structure */
  width: 100%;
  position: fixed;
  top:0;
  right:0;
  z-index: 900;
  /* style */
  background: rgba(0, 133, 62, 0.95);
  color:white;
}

#action-menu-open
{
  /* structure */
  float: right;
  height: 60px;
  width: 60px;
  font-size: 24px;

  /* style */
  border: none;
  background: white;
  color: #00853E;
}

#action-menu-close
{
  /* structure */
  float: right;
  height: 60px;
  width: 60px;
  font-size: 24px;
  /* style */
  border: none;
  background: white;
  color: #00853E;
}

#view-menu-header
{
  height: 60px;
}

#img-cog
{
  width:200px;
  height:200px;
}

body
{
  /* structure */
  /* style */
  background: #e4e4e4;
}

footer
{
  background: #333;
  height: 100px;
}

main
{
  margin-top:60px;
  border: red thin solid;
  width:100%;
  max-width: 700px;
}